.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.customRow {
  display: flex;
  color: #fff;
}

.customRow img {
  margin-right: 20px;
}

.customRow__title {
  color: #dadde3;
  font-size: 1.2rem;
  padding-top: 5px;
}

.customRow__index {
  font-size: 1.5rem;
  padding-right: 10px;
}
